Feature request: label compression for cat-dns

Per https://github.com/notwaldorf/cat-dns/issues/5 cat-dns does not include the original question. One fix for this is to simply emit the question section and answer section in full, e.g.;

[12 byte header]
\3www\7example\3com\0\0\1\0\1
\3www\7example\3com\0\0\1\0\1\0\0\0\1\0\0\4\54\197\244\191

but DNS also supports label compression where labels can point to previous identical labels. See section 4.1.4. of RFC1035. 
